body 
{
    font-family: 'Special Elite' , cursive;
    background-color:darksalmon
}

.header_div
{
    background: white;
}

#g
{
    height: 200px;
    width: 200px; ;
}

.footer_div
{
    background: white;
    margin-bottom: 50px;

}

#v
{
    width: 70px;
}

.main_div
{
    background: #ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.footer_div h4
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}

.main_div button 
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

#camera , #result
{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white ;
}

.copy_right_footer
{
    position: fixed;
    color: yellowgreen;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}

